@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Utilize essa página para configurar a política de privacidade dentro do seu site.</p>
